<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Notebook!</title>
    </head>

    <body>
        <h1>Notebook!</h1>

        <ul>
          <li th:each="listItem : ${list}">
            <span th:text="${listItem}"> blah blah</span>
          </li>
        </ul>

        <h2>Add content to notebook</h2>

        <form th:action="@{/}" method="get">
          <input type="text" name="content" />
          <input type="submit" value="Click!" />
        </form>

    </body>
</html>
